<%- include("../partials/header"); %>

<link rel="stylesheet" href="/css/tables.css">
<h1>Registered Students</h1>

<div class="container">
    <table>
  <tr>
    <th>Name</th>
    <th>Enrollment No.</th>
    <th>E-mail</th>
    <th>Contact</th>
    <th colspan="2">Admin's Approval</th>
  </tr>

  <form action="/view-student" method="POST">
    <% registeredStudents.forEach(function(newStudent){ %>

      <tr>
        <td><%= newStudent.name %></td>
        <td><%= newStudent.roll %></td>
        <td><%= newStudent.email %></td>
        <td><%= newStudent.contactNo %></td>
        <td><button class="btn btn-sm btn-success" type="submit" name="accept" value=<%= newStudent._id %>>Accept</button></td>
        <td><button class="btn btn-sm btn-danger" type="submit" name="delete" value=<%= newStudent._id %>>Decline</button></td>
      </tr>

  <% }); %>
  </form> 
  
</table>
</div>

<%- include("../partials/footer"); %>