<%- include("../partials/header"); %>

<link rel="stylesheet" href="/css/tables.css">
<h2>Registered Students</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Enrollment No.</th>
    <th>E-mail</th>
    <th>Contact</th>
  </tr>

  <% registeredStudents.forEach(function(newStudent){ %>

      <tr>
        <td><%= newStudent.name %></td>
        <td><%= newStudent.roll %></td>
        <td><%= newStudent.email %></td>
        <td><%= newStudent.contactNo %></td>
      </tr>

  <% }); %>
  
  
</table>


<%- include("../partials/footer"); %>