<%- include("../partials/header"); %>

<link rel="stylesheet" href="/css/tables.css">
<h1>Registered Students</h1>

<div class="container">
    <table>
  <tr>
    <th>Name</th>
    <th>Enrollment No.</th>
    <th>E-mail</th>
    <th>Contact</th>
    <th colspan="2">Admin's Approval</th>
  </tr>

  <% registeredStudents.forEach(function(newStudent){ %>

      <tr>
        <td><%= newStudent.name %></td>
        <td><%= newStudent.roll %></td>
        <td><%= newStudent.email %></td>
        <td><%= newStudent.contactNo %></td>
        <td><button class="btn btn-sm btn-success">Accept</button></td>
        <td><button class="btn btn-sm btn-danger">Decline</button></td>
      </tr>

  <% }); %>  
  
</table>
</div>

<%- include("../partials/footer"); %>