<%- include("partials/header") ;%>

<div class="w3-container">
    <h2>List of teachers</h2>
      
    <table class="w3-table-all w3-hoverable w3-centered">
      <thead>
        <tr class="w3-red">
          <th>Full Name</th>
          <th>Email</th>
          <th>Contact No.</th>
        </tr>
      </thead>

      <% teacherList.forEach(function(teacher){ %>
        <tr>
            <td> <%= teacher.name %> </td>
            <td> <%= teacher.email %> </td>
            <td> <%= teacher.contactNo %> </td>
          </tr>
      <% }); %>
                
    </table>
  </div>


<%- include("partials/footer"); %>

